/* Gallery */



/* Gallery Title */
.gallery_title
{
    font-size: 4em;
    text-align: center;
    color: black;
}

/* Gallery Content */
.gallery_content
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 40px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


/* Gallery Summary */
.gallery_summary
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}




/* Add New */
.add_new
{
    font-size: xx-large;
    font-style: bold;
}

.pet_photograph{
    height: 20em;
    width:20em;
}