/* My Profile Stylesheet */



/* About Us Title */
.my_profile_title
{
    font-size: 4em;
    text-align: center;
    color: black;
}


/* My Profile Content */
.my_profile_content
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}


/* My Profile Photograph */
.my_profile_photograph
{

}


/* My Profile Information */
.my_profile_information
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.top{
    
    display: flex;
    
    border-bottom:5px solid blueviolet;
}

.menu{
    width: 100%;
    float: left;
    font-weight: bold;
    color:rgb(59, 56, 56);
}