/* Pets Stylesheet */



/* Pets Title */
.pets_title
{
    font-size: 4em;
    text-align: center;
    color: black;
}


/* Pets Content */
.pets_content
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 40px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


/* Pet Summary */
.pet_summary
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/* Pet Photograph */
.pet_photograph
{
    height: 20em;
}


/* Pet Name */
#button
{
    margin-top:20px;
    background-color:white;
   
    font-size: 2em;
      width:220px;
     
}


/* Delete Pet */
.delete_pet
{
    margin-top:30px;
    font-size: 1.5em;
}


/* Add New Pet */
.add_new_pet
{
    font-size:xx-large;
}

p{
    font-size: large; 
}