/* Pets Stylesheet */



/* Pets Title */
.pets_title
{
    font-size: 4em;
    text-align: center;
    color: black;
}


/* Pets Content */
.pets_content
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


/* Pet Summary */
.pet_summary
{
    display: flex;
    flex-direction: column;
}


/* Pet Photograph */
.pet_photograph
{
    height: 20em;
}


/* Pet Name */
.pet_name
{
    font-size: 3em;
}


/* Delete Pet */
.delete_pet
{
    font-size: 3em;
}


/* Add New Pet */
.add_new_pet
{
    font-size: 3em;
}

.top{
    
    display: flex;
    
    border-bottom:5px solid blueviolet;
}

.menu{
    width: 100%;
    float: left;
    font-weight: bold;
    color:rgb(59, 56, 56);
}


body{
  
    background-color:cornsilk;
    
  }
  html {
    min-height: 100%;
    position: relative;
  }
  
  footer {
 
    position: absolute;
    bottom: 0;
    width: 98.5%;
    height: 40px;
   
    text-align: center;
    font-size:xx-large;
    line-height: 40px;
    font-weight: bold;
  
    border-top:5px solid blueviolet;
    border-bottom:5px solid blueviolet;
    border-left: 5px solid blueviolet;
    border-right:5px solid blueviolet;
  }
  
  .content {
  
    margin-bottom: 60px;
  }
