
body{
  
  background-color:white;
  
}
html {
  min-height: 100%;
  position: relative;
}


.content {

  margin-bottom: 60px;
}

header{
    
    display: flex;
   
    border-bottom:5px solid blueviolet;
}

.menu{
    width: 100%;
    float: left;
    font-weight: bold;
    color:rgb(59, 56, 56);
}

h1{
    text-align: center;
}


#button{
    text-align: center;
    width: 70px;
   
    padding: 7px 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



a{
  text-decoration: none;
  color:currentColor;
}

footer > a{
  color:white;
}

p > a{
    color:blue;
}





p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}






h2 {
  font-size: 1.5rem;
  text-align: center;
}


.panel{
  background-color: beige;
}

img {
  max-width: 100%;
  display: block;
}




footer {
 
  position: absolute;
  bottom: 0;
  width: 98.5%;
  height: 40px;
 
  text-align: center;
  font-size:xx-large;
  line-height: 40px;
  font-weight: bold;

  border-top:5px solid blueviolet;
  border-bottom:5px solid blueviolet;
  border-left: 5px solid blueviolet;
  border-right:5px solid blueviolet;

  color:white;
  background-color:cadetblue;
}