.top{
    
    display: flex;
    
    border-bottom:5px solid blueviolet;
}

.menu{
    width: 100%;
    float: left;
    font-weight: bold;
    color:rgb(59, 56, 56);
}

h1{
    text-align: center;
}

.form{
    margin-top: 20px;
    position:absolute;
    left:30%;
    align-items: center;
    height: 300px;
    width:450px;
    text-align: center;
    border-style: solid;
   
}

.fields>div{
    
    margin-bottom:10px;
    
    
}

.form>p{
    
    font-size: small;
}

#button{
    text-align: center;
    width: 70px;
   
    padding: 7px 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a{
    color:blue;
}

.wrapper{
    margin-top: 20px;
    display:flex;
    grid-gap: 10px;
   
    height: 500px;
}

.panel{
    
    width:50%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.panel > #photo{

}

#photo div:first-child{
    height: 75%;
    border-bottom: 1px solid black;
}

#photo > div{
    line-height: 100px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color:rgb(59, 56, 56);
    vertical-align: middle;
}

.panel > div  > img{
    margin-top:1.2%;
    
    height: 95%;
    object-fit: cover;
    object-position: center center;
}

#info{
    display:grid;
   
    grid-row-gap: 10px;
}


.panel-son{

    
    border-bottom: 1px solid black;
    
    line-height: 150px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color:rgb(59, 56, 56);
    vertical-align: middle;


}



.full_panel{
    display:grid;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin:10px;
   
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}






h2 {
  font-size: 1.5rem;
  text-align: center;
}




/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

